doctype html
html(lang='en')
  head
    title= `${name}`
    style(type='text/css').
           .body { margin: 0; }
           .canvas { width: 100%; height: 100% }
  body
  <canvas id="glcanvas" class="img-fluid" width="640" height="480"></canvas>
  //- script(src='../../node_modules/three/build/three.min.js', type='text/javascript')
  script(src='../../node_modules/pako/dist/pako.min.js', type='text/javascript')
    //- script(src=`./${name}.js`, type='text/javascript')